.header{
    background-color: rgb(255, 6, 0);
    color: white;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link{
    margin:0 10px;
    padding: 0;
    text-decoration: none;
    color: white;
}

.active{
    margin:0 10px;
    padding: 0;
    text-decoration: none;
    color: black;
}

.inputDiv{
    display: flex;
}

.input{
    text-align: center;
    height: 25px;
    width: 200px;
    border-radius: 20px;
    margin: auto;
}

