
.signupPage{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

.signup{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 6, 0);
    border-radius: 20px;
    height: 500px;
    width: 300px;
}

.input{
    font-size: large;
    margin: 20px;
    padding: 10px;
    border-radius: 20px;
}

.btn{
    font-size: large;
    margin: 30px;
    padding: 10px;
    border-radius: 20px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
}