body{
    padding: 0;
    margin: 0 auto;
    width: 100vw;
    height: 100vh;
    font-family:'Titillium Web', sans-serif;
    overflow: auto;
}

.app{
    display: flex;
    flex-direction: column;
}